<div>
    <p>
       Dit password blev nulstillet. Venligst @Html.ActionLink("tryk her for at logge ind", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
