
@{
	ViewBag.Title = "Spareparts";
}

<div class="container-fluid badass p-2 mb-3">
	<div class="row">
		<div class="col-12 col-sm-12 col-lg-12 text-center text-white mt-2 mobile">
			<h2>Reservedele</h2>
			<p>Nedenfor kan du se de reservedele der sælges her i Veteranbil klubben</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row text-center">
		<div class="col-12 col-sm-3 col-lg-3 mobile-nav">
			<ul class="navbar-nav vertical-center">
				<li class="nav-item">
					<a class="nav-link text-white btn btn-success mt-2" href="#radio">Radio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white btn btn-success mt-2" href="#doors">Døre</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white btn btn-success mt-2" href="#pipes">Tændrør</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white btn btn-success mt-2" href="#ting">Tændspoler </a>
				</li>
			</ul>
		</div>
		<div class="col-6 col-sm-4 col-lg-3">
			<div class="card" style="width:100%">
				<img class="card-img-top" src="https://www.veterandele.dk/images/P_Billeder/246-RCD120BT.jpg" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">Caliber RCD 120BT</h4>
					<p class="card-text">Lorem ipsum</p>
					<a href="#" class="btn btn-primary">Se mere</a>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-lg-3">
			<div class="card" style="width:100%">
				<img class="card-img-top" src="https://www.veterandele.dk/images/P_Billeder/246-RCD120BT.jpg" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">Caliber RCD 120BT</h4>
					<p class="card-text">Lorem ipsum</p>
					<a href="#" class="btn btn-primary">Se mere</a>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-lg-3">
			<div class="card" style="width:100%">
				<img class="card-img-top" src="https://www.veterandele.dk/images/P_Billeder/246-RCD120BT.jpg" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">Caliber RCD 120BT</h4>
					<p class="card-text">Lorem ipsum</p>
					<a href="#" class="btn btn-primary">Se mere</a>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-lg-3">
			<div class="card" style="width:100%">
				<img class="card-img-top" src="https://www.veterandele.dk/images/P_Billeder/246-RCD120BT.jpg" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">Caliber RCD 120BT</h4>
					<p class="card-text">Lorem ipsum</p>
					<a href="#" class="btn btn-primary">Se mere</a>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-lg-3">
			<div class="card" style="width:100%">
				<img class="card-img-top" src="https://www.veterandele.dk/images/P_Billeder/246-RCD120BT.jpg" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">Caliber RCD 120BT</h4>
					<p class="card-text">Lorem ipsum</p>
					<a href="#" class="btn btn-primary">Se mere</a>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-lg-3">
			<div class="card" style="width:100%">
				<img class="card-img-top" src="https://www.veterandele.dk/images/P_Billeder/246-RCD120BT.jpg" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">Caliber RCD 120BT</h4>
					<p class="card-text">Lorem ipsum</p>
					<a href="#" class="btn btn-primary">Se mere</a>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-lg-3">
			<div class="card" style="width:100%">
				<img class="card-img-top" src="https://www.veterandele.dk/images/P_Billeder/246-RCD120BT.jpg" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">Caliber RCD 120BT</h4>
					<p class="card-text">Lorem ipsum</p>
					<a href="#" class="btn btn-primary">Se mere</a>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-lg-3">
			<div class="card" style="width:100%">
				<img class="card-img-top" src="https://www.veterandele.dk/images/P_Billeder/246-RCD120BT.jpg" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">Caliber RCD 120BT</h4>
					<p class="card-text">Lorem ipsum</p>
					<a href="#" class="btn btn-primary">Se mere</a>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-lg-3">
			<div class="card" style="width:100%">
				<img class="card-img-top" src="https://www.veterandele.dk/images/P_Billeder/246-RCD120BT.jpg" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">Caliber RCD 120BT</h4>
					<p class="card-text">Lorem ipsum</p>
					<a href="#" class="btn btn-primary">Se mere</a>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-4 col-lg-3">
			<div class="card" style="width:100%">
				<img class="card-img-top" src="https://www.veterandele.dk/images/P_Billeder/246-RCD120BT.jpg" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">Caliber RCD 120BT</h4>
					<p class="card-text">Lorem ipsum</p>
					<a href="#" class="btn btn-primary">Se mere</a>
				</div>
			</div>
		</div>
	</div>
</div>

